.trigger {
	display: inline-flex;
}

.tooltip {
	position: absolute;

	padding: 12px 14px;
	max-width: 400px;

	box-sizing: border-box;

	background-color: var(--main-blue-background-color);
	border: 1px solid var(--main-blue-color);
	border-radius: var(--border-radius);

	color: var(--main-black-color);
	font-size: 13px;
	line-height: 18px;

	z-index: 20000;

	opacity: 0;
	animation: fadeIn 0.25s forwards;

	overflow-wrap: break-word;
	pointer-events: none;
}

/* Справа */
.tooltip_right {
	transform: translateY(-50%);
}

/* Слева */
.tooltip_left {
	transform: translate(-100%, -50%);
}

/* Сверху */
.tooltip_top {
	transform: translate(-50%, -100%);
}

/* Снизу */
.tooltip_bottom {
	transform: translateX(-50%);
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
