.header {
	margin: 0 0 20px 0;
	display: flex;
	align-items: center;
	gap: 20px;
}

.table {
	width: 100%;
	margin: 0;
	padding: 12px 20px;

	box-sizing: border-box;

	background-color: var(--main-white-color);
	border-radius: var(--border-radius);

	overflow-x: auto;
}
