.container {
	margin: 16px 0;
	width: 100%;
	min-width: 260px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.img {
	margin: 0;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-style: normal;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	text-transform: uppercase;
	color: var(--main-blue-color);
	background-color: var(--main-blue-background-color);
	border-radius: var(--border-radius);
	user-select: none;
	pointer-events: none;
}

.info {
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
	align-items: flex-start;
	gap: 12px;
}

.name {
	margin: 0 auto 0 0;
	max-width: 180px;
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: var(--main-black-color);
}

.badge {
	display: block;
}

.role {
	margin: 0 0 0 48px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	&__caption {
		margin: 0;
		font-style: normal;
		font-size: 12px;
		font-weight: normal;
		line-height: 14px;
		color: var(--main-grey-color);
	}
	&__title {
		margin: 0;
		font-style: normal;
		font-size: 14px;
		font-weight: normal;
		line-height: 14px;
		color: var(--main-black-color);
	}
}

.education {
	margin: 0 0 0 48px;

	display: grid;
	grid-template-columns: repeat(1fr);
	gap: 12px;
}

.education__row {
	margin: 0;
	display: flex;
	gap: 20px;
}

.education__item {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.education__caption {
	margin: 0;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	color: var(--main-grey-color);
}

.education__title {
	margin: 0;
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: var(--main-black-color);
}

@media (max-width: 1440px) {
	.name {
		margin: 0;
		max-width: none;
	}

	.badge {
		display: none;
	}

	.education {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.education {
		margin-left: 0;
		grid-template-columns: 1fr;
	}
}
