.list {
	margin: 12px 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	align-items: center;
	position: relative;
}

.item {
	margin: 0;
	padding: 12px 20px;
	font-size: 16px;
	line-height: 16px;
	font-style: normal;
	font-weight: 500;
	text-align: left;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background-color: var(--main-blue-background-color);
	color: var(--main-blue-light-color);
	position: relative;
	transition: all .3s ease-in-out;
	&:hover {
		background-color: var(--main-blue-light-color);
		color: var(--main-white-color);
	}
}

.remove {
	position: absolute;
	top: -10px;
	right: 4px;
	width: 20px;
	height: 20px;
	content: '';
	border-radius: 50%;
	background-color: var(--main-white-color);
	background-image: url('../../../../shared/images/icons/close.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	opacity: 0;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.item:hover .remove {
	opacity: 1;
}
