.filter {
	margin: 0;
	width: 100%;
	max-width: 300px;

	padding: 9px 16px;
	box-sizing: border-box;

	border: 1px solid var(--main-grey-light-color);
	border-radius: var(--border-radius);

	background: var(--main-white-color);

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

	color: var(--main-black-color);

	outline: none;

	transition: all 0.3s ease-in-out;

	&:hover {
		border-color: var(--main-grey-color);
	}

	&:active {
		border-color: var(--main-blue-color);
	}

	&:focus {
		border-color: var(--main-blue-color);
	}

	&::placeholder {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;

		color: var(--main-grey-color);
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	& {
		-moz-appearance: textfield;
	}

	&_full {
		max-width: none;
	}
}
