.container {
	margin: 20px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.top {
	margin: 0;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 16px;
}

@media (max-width: 1024px) {
	.top {
		grid-template-columns: 1fr;
	}
}
